@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@400;800&family=Open+Sans:wght@300;700;800&family=Sen&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

body{
	background-color:#F3EFE0;
}


/* Header para nav y links */

header{
	background-color:#22A39F;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 85px;
	padding: 5px 5%;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #22A39F;
	background-image: url(../imagenes/opa.jpg);
	background-blend-mode: soft-light;
	background-size: 150%;
}


.header .logo {
	cursor: pointer;
	margin-right: auto;
}

.header .logo img {
	height: 70px;
	width: auto;
	transition: all 0.3s;
}

.header .logo img:hover{
	transform: scale(1.1);
}

.header .nav-links{
	list-style: none ;
}

.header .nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.header .nav-links li:hover{
	transform: scale(1.1);
}

.header .nav-links a{
	font-size: 700;
	color:#F3EFE0;
	text-decoration: none;
}

.header .nav-links li a:hover{
	color:#BFEAF5;
}

.header .btn button{
	font-weight: 700;
	color: #F3EFE0;
	padding: 9px 25px;
	background:#222222;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.header .btn button:hover{
	background-color:#434242;
	color: #22A39F;
	transform: scale(1.1);
}

#check {
	display: none;
}

#checkbtn {
	display: none;
}


/* Articulos sobre conocer mas */
.contenedor-art-mas{
	display: flex;
	background-image: url(../imagenes/Hoteles/jujuy.jpg);
	background-size: 150%;
	flex-wrap: wrap;
	min-width: 360px;
}

.in-flex{
	flex: 1;
	min-width: 300px;
}

.in-flex:first-child {
	flex: 2;
	padding: 25px;
	background-color: rgba(243, 239, 224, 1);
	background-blend-mode: soft-light;
	margin: 20px;

}

.in-flex div{
	padding: 25px;
	background-color: #F3EFE0;
	margin: 20px;
}






.destino-selector{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	width: 100%;
	overflow: hidden;
	padding: 0 1rem;
	position: relative;
	// justify-content: center;
}

.destino-selector .titulo-mas{
	margin: 0 auto;
}

.grande-selector{
	width: 200%;
	display: flex;
	margin: 1rem 0;
	transition: all .4s ease;
	// position: relative;
	// overflow: hidden;
}

.imagenes-selector{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	// position: relative;
	// overflow: hidden;
	// object-fit: contain;
}

// .imagenes-selector div{
// 	// width: 200%;
// }

.imagenes-selector .imagen {
	// height: 10rem;
	width: calc(100vw / 4 - 2.5rem);
	position: relative;
	margin: 0 20px;
	cursor: pointer;
	background-color: #222222;
	
}

.imagenes-selector .imagen img{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all .2s ease;
}

.imagenes-selector .imagen p:hover{
	opacity: 0.4;
}


.imagenes-selector .imagen .texto p{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: 1px 1px 2px rgb(0,0,0);
	font-size: 1.2rem;
	font-weight: 600;
}

#btnDerecha{
	display: none;
}

#btnIzquierda{
	display: none;
}

.boton-derecha{
	position: absolute;
	right: 0;
	top: 50%;
	padding: .5rem;
	color: black;
	cursor: pointer;
	z-index: 3	;
}


.boton-izquierda{
	position: absolute;
	left: 0;
	padding: .5rem;
	top: 50%;
	color: black;
	cursor: pointer;
	z-index: 2;
}

// banner
.banner{
	background-image: url(../imagenes/Banners/mendoza.png);
	background-size: cover;
	height: 20vh;
	min-width: 360px;
	margin: 2rem 0 0 0;
	position: relative;
}

.banner p{
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 4rem;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


// Articulo desplegable

.articulo-desplegable{
	display: block;
}

.articulo-desplegable .festividades {
	display: none;
}
.art-desplegable .gastronomia{
	display: none;
}
.art-desplegable .actividades{
	display: none;
}

.art-desplegable{
	display: flex;
	flex-wrap: wrap;
	min-width: 320px;
	margin: 1rem;
}

.seleccion{
	display: flex;
	background-color: #434242;
	color: #F3EFE0;
	// width: 100%;
	align-items: center;
	height: 2rem;
	position: sticky;
	top: 85px;
}

.seleccion .lista{
	display: flex;
	min-width: 360px;
	width: 100%;
	justify-content: space-around;
}

.seleccion .seleccionado{
	list-style: none;
	justify-content: space-around;
}

.seleccion .seleccionado:hover{
	color: #BFEAF5;
}




@media (max-width:1401px){
	.boton-izquierda{
		transform: translate(20%, -20%);
	}

	.boton-derecha{
		transform: translate(5%, -20%);
	}
}

@media (max-width: 904px) {
	.header .nav-links li {
		padding: 0 10px;
	}

	.header .btn button{
		font-weight: 650;
		padding: 9px 15px;
		transition: all 0.3s ease 0s;
	}

	.header .btn button:hover{
		transform: scale(1.1);
    }
}

@media (max-width: 825px){

    #checkbtn {
        display: block;
        float: right;
        background-color: #222222;
        color: #F3EFE0;
        padding: 10px 15px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }
    
    /*/Boton de contacto /*/
    .btn {
        display: none;
    }
    
    header{
        min-width: 360px;
        justify-content: center;
        z-index: 5;
    }
    
    /* Barra escondida */
    .header nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #222222;
        top: 85px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    
    
     .header nav ul li {
        margin: 50px;
        line-height: 30px;
        display: block;
    
    }
    
    .header .nav-links li {
        display: block;
        padding: 0;
    } 
    
    .header nav ul li a {
        font-size: 20px;
    }
    
    #check:checked ~ #checkbtn{
        transform: scale(1.1);
    }

// #check:checked ~ article{
// 	right: -100%;
// }

#check:checked ~ nav ul{
	left: 0 ;
}


// .art-desplegable{
// 	min-width: 315px;
// 	padding: 0;
// }

// .art-desplegable .text-art{
// 	font-size: 18px;
// }

// .art-desplegable:first-child{
// 	margin: 25px;
// 	padding: 0;
// }

// .art-desplegable div{
// 	margin: 25px;
// 	padding: 0;
// }
}
